.diferenciais.area {
  width: 100%;
  color: white;
  padding-top: 0px; }
  .diferenciais.area .diferencial-1 {
    padding: 0;
    background-image: linear-gradient(133deg, #56AAD5, #4284A0); }
    .diferenciais.area .diferencial-1 .diferencial-img {
      background-image: url(../../images/ilustra1.png); }
  .diferenciais.area .diferencial-2 {
    padding: 0;
    background-image: linear-gradient(133deg, #91CBCB, #1DAFAF); }
    .diferenciais.area .diferencial-2 .diferencial-img {
      background-image: url(../../images/ilustra2.png); }
  .diferenciais.area .diferencial-3 {
    padding: 0;
    background-image: linear-gradient(133deg, #91CBCB, #639BCC); }
    .diferenciais.area .diferencial-3 .diferencial-img {
      background-image: url(../../images/ilustra3.png); }
  .diferenciais.area .diferencial-4 {
    padding: 0;
    background-image: linear-gradient(133deg, #EEC2C3, #F5AD9E); }
    .diferenciais.area .diferencial-4 .diferencial-img {
      background-image: url(../../images/ilustra4.png);
      background-size: unset;
      background-position: center; }
  .diferenciais.area .diferenciais {
    height: 300px;
    padding: 20px 0px;
    z-index: 82; }
  .diferenciais.area .diferencial-img {
    height: 90px;
    background-size: 102% 80%;
    background-position: 0 10px;
    width: 100%;
    background-repeat: no-repeat; }
  .diferenciais.area .diferencial-numero {
    font-size: 34px;
    width: 170px;
    margin-left: calc(50% - 85px);
    height: 40px; }
  .diferenciais.area .diferencial-numero-legenda {
    font-size: 17px;
    width: 170px;
    margin-left: calc(50% - 85px);
    height: 60px; }
  .diferenciais.area .diferencial-desc {
    font-size: 12px;
    width: 170px;
    font-family: Roboto-Light;
    margin-left: calc(50% - 85px); }
