@charset "UTF-8";
.ecosistema {
  width: 100%;
  height: 655px;
  background-image: url(/static/media/MAPA_3.9fd9d33f.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: -13px -247px;
  z-index: -99;
  position: relative; }
  .ecosistema::before {
    content: 'EMPRESARIAL, COMERCIAL, MOBILIDADE, EDUCAÇÃO, CULTURA & LAZER e SAÚDE';
    position: absolute;
    top: -20px;
    text-align: left;
    color: #747474;
    font-family: Roboto-Light;
    font-size: 12px;
    width: calc(50% - 10px);
    text-align: right; }

.mapa {
  width: 100%;
  height: 500px;
  background-image: url(../../images/MAPA.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px;
  z-index: 82;
  position: relative; }

.text-line {
  position: relative;
  width: 100%;
  color: #747474;
  margin: 150px 0px;
  height: 2px;
  margin-top: 300px; }
  .text-line .text-line-desc {
    font-family: Roboto-Light;
    position: absolute;
    left: calc(50% - 460px);
    font-size: 27px;
    top: -25px;
    text-align: right;
    width: 400px; }
  .text-line .text-line-ball {
    width: 15px;
    height: 15px;
    background-color: #e50021;
    position: absolute;
    left: calc(50% - 7.5px);
    border-radius: 50%; }
  .text-line .text-line-txt {
    font-family: Roboto-Light;
    position: absolute;
    left: calc(50% + 60px);
    font-size: 14px;
    text-align: right;
    width: 450px;
    text-align: left;
    letter-spacing: 1.5px;
    line-height: 20px; }
  .text-line.portfolio-line {
    margin-bottom: 0px; }
    .text-line.portfolio-line .text-line-txt {
      width: 240px; }
    .text-line.portfolio-line .text-line-desc {
      top: 20px; }

@media only screen and (max-width: 1024px) {
  .text-line {
    margin-top: 100px;
    margin-bottom: 60px; }
    .text-line .text-line-txt {
      display: none; }
    .text-line .text-line-desc {
      left: calc(10% + 30px);
      width: calc(90% - 30px);
      text-align: left;
      font-size: 20px; }
    .text-line .text-line-ball {
      left: calc(10% - 7.5px); }
  .ecosistema {
    height: 200px;
    background-position: 0; }
    .ecosistema::before {
      display: none; }
  .mapa {
    height: 200px; } }
