@font-face {
  font-family: Roboto-Regular;
  src: url("../../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: Roboto-Bold;
  src: url("../../fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: Roboto-Light;
  src: url("../../fonts/Roboto-Light.ttf"); }

a:hover, a:visited, a:link, a:active {
  text-decoration: none; }

body {
  margin: 0;
  position: relative; }
  body .href-link {
    position: absolute;
    top: -300px;
    height: 10px;
    width: 10px; }
  body .header {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 84; }
    body .header .hamburger-menu {
      display: none; }
    body .header .formulario-contato {
      background: black;
      width: 310px;
      height: 450px;
      right: 0;
      top: 0;
      color: white;
      position: absolute; }
      body .header .formulario-contato .contato {
        width: 80%;
        margin-left: 10%;
        top: 78px; }
        body .header .formulario-contato .contato .campo-form-submit {
          margin-top: 0;
          right: 0; }
        body .header .formulario-contato .contato .campo-form .campo-form-input {
          margin-bottom: 20px; }
    body .header .logo-link {
      margin: 6px 8px; }
      body .header .logo-link .logo-img {
        width: 95px; }
      body .header .logo-link:hover {
        opacity: 0.6; }
    body .header .links-header {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      right: 0; }
      body .header .links-header .close-menu {
        display: none; }
      body .header .links-header .link-header {
        padding: 22px 18px;
        font-family: Roboto-Regular;
        text-transform: uppercase;
        font-size: 7.5px;
        color: #747474;
        cursor: pointer;
        position: relative;
        text-align: center;
        letter-spacing: 1.5px;
        text-decoration: none; }
        body .header .links-header .link-header:hover::after {
          position: absolute;
          bottom: 15px;
          left: 18px;
          width: calc(100% - 36px);
          height: 2px;
          content: '';
          background-color: #e50021; }
        body .header .links-header .link-header.contato {
          background-color: #e50021;
          color: white; }
          body .header .links-header .link-header.contato:hover::after {
            background-color: white; }

@media only screen and (max-width: 1024px) {
  body .header .hamburger-menu {
    display: block;
    height: 35px;
    width: 30px;
    position: absolute;
    top: 14px;
    right: 15px; }
    body .header .hamburger-menu .hamburger-line {
      height: 5px;
      margin: 3px;
      background-color: #e50021;
      width: 100%; }
  body .header .links-header {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: black;
    display: block;
    padding-top: 40px;
    z-index: 99;
    top: 0; }
    body .header .links-header .link-header {
      font-size: 16px;
      color: white;
      text-align: left;
      font-family: Roboto-Light;
      border-bottom: 1px solid #e50021;
      margin: 0px 10px; }
      body .header .links-header .link-header.contato {
        background-color: unset; }
    body .header .links-header .close-menu {
      position: fixed;
      width: 40px;
      height: 40px;
      right: 0px;
      top: 0px;
      background-image: url(../../images/close.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
      background-color: #e50021;
      cursor: pointer;
      display: block; } }
